<main class="container">
    <div class="c-text__navigation">
        <div class="c-navigation__location">
            <p>ŚPIEWNIK >&nbsp</p><p id="navigationLocation"></p>
        </div>
        <a class="c-navigation__menu" href="/www/" onclick="route()"></a>
    </div>
    <div id="searchInputDiv">
        <div class="c-text__search">
            <a class="c-search__input c-search__fake-input" href="/www/search" onclick="route()">Szukaj</a>
            <button class="c-search__button"></button>
        </div>
    </div>
    <div id="categoriesList" class="c-categories__list"></div>
</main>
