<main class="container h-transition">
    <div class="c-text__navigation">
        <div class="c-navigation__location">
            <button class="c-navigation__button" onclick="undo()"></button>
            <p>ŚPIEWNIK >&nbsp</p><p id="navigationLocation"></p>
        </div>
        <a class="c-search__button" href="/search" onclick="route()"></a>
    </div>
    <div class="c-text__category-name h-transition">Kategorie</div>
    <div id="categoriesList" class="c-list styled-scrollbars categories"></div>
</main>
