<main class="container">
    <div class="c-text__navigation">
        <div class="c-navigation__location">
            <p>ŚPIEWNIK >&nbsp</p><p id="navigationLocation"></p>
        </div>
        <button id="menuButton" class="c-navigation__menu"></button>
    </div>
    <div id="searchInputDiv">
        <div class="c-text__search">
            <a class="c-search__input c-search__fake-input" href="/search" onclick="route()">Szukaj</a>
            <!-- <input id="searchInput" type="text" class="c-search__input" placeholder="Szukaj"> -->
            <button class="c-search__button"></button>
        </div>
    </div>
    <div id="categoriesList" class="c-categories__list">
        <a href="/titles" onclick="route()">tytuły tekstów</a>
    </div>
</main>
