<main class="c-home">
    <div class="c-home__header">
        <img class="c-home__icon" src="img/ikona.png" alt="icon">
        <h1 class="c-home__h1">ŚPIEWNIK</h1>
    </div>
    <div class="c-home__categories">
        <a class="c-home__link" href="/www/categories" onclick="route(), setType('songs')">
            PIEŚNI
        </a>
        <a class="c-home__link" href="/www/categories" onclick="route(), setType('prayers')">
            MODLITWY
        </a>
        <a class="c-home__link" href="/www/categories" onclick="route(), setType('liturgy')">
            LITURGIA
        </a>
        <a class="c-home__link" href="/www/text" onclick="route(), setType('announcements')">
            OGŁOSZENIA
        </a>
        <a class="c-home__link" href="/www/text" onclick="route(), setType('intentions')">
            INTENCJE MSZY
        </a>
    </div>
</main>
