<main class="c-home h-transition">
    <div class="c-home__header">
        <img class="c-home__icon" src="img/ikona.png" alt="icon">
        <h1 class="c-home__h1">PARAFIA SKOCZÓW</h1>
    </div>
    <div class="c-home__categories">
        <a class="c-home__link" href="/categories" onclick="route(), setType('songs')">
            PIEŚNI
        </a>
        <a class="c-home__link" href="/categories" onclick="route(), setType('prayers')">
            MODLITWY
        </a>
        <a class="c-home__link" href="/categories" onclick="route(), setType('liturgy')">
            LITURGIA
        </a>
        <a class="c-home__link" href="/text" onclick="route(), setType('announcements')">
            OGŁOSZENIA
        </a>
        <a class="c-home__link" href="/text" onclick="route(), setType('intentions')">
            INTENCJE MSZY
        </a>
        <a class="c-home__link" href="/text" onclick="route(), setType('carol')">
            KOLĘDA
        </a>
        <a class="c-home__link c-home__link--last" href="https://www.youtube.com/watch?v=xSdIBGA0-7I&ab_channel=ParafiaSkocz%C3%B3w-transmisjaonline" target="_blank">
            TRANSMISJA ONLINE
        </a>
    </div>
</main>
