<main class="c-home">
    <div class="c-home__header">
        <img class="c-home__icon" src="img/ikona.png" alt="icon">
        <h1 class="c-home__h1">ŚPIEWNIK</h1>
    </div>
    <div class="c-home__categories">
        <a id="homeSongs" class="c-home__link" href="/categories" onclick="route()">
            PIEŚNI
        </a>
        <a id="homePrayers" class="c-home__link" href="/categories" onclick="route()">
            MODLITWY
        </a>
        <a id="homeLiturgy" class="c-home__link" href="/categories" onclick="route()">
            LITURGIA
        </a>
        <a id="homeAnnouncements" class="c-home__link" href="/text" onclick="route()">
            OGŁOSZENIA
        </a>
        <a id="homeIntentions" class="c-home__link" href="/text" onclick="route()">
            INTENCJE MSZY
        </a>
    </div>
</main>
