<main class="container h-transition">
    <div class="c-text__navigation">
        <div class="c-navigation__location">
            <button class="c-navigation__button" onclick="undo()"></button>
            <p id="navigationLocation" class="h-navigation-location"></p>
        </div>
    </div>
    <div id="searchInputDiv">
        <div class="c-text__search">
            <input id="searchInput" type="text" class="c-search__input" placeholder="Szukaj">
            <button class="c-search__button c-search__button--search"></button>
        </div>
    </div>
    <div id="titlesList" class="c-list c-list--search styled-scrollbars">
    </div>
</main>
