<main class="container">
    <div class="c-text__navigation">
        <div class="c-navigation__location">
            <p>ŚPIEWNIK >&nbsp</p><p id="navigationLocation"></p>
        </div>
        <a class="c-navigation__menu" href="/" onclick="route()"></a>
    </div>
    <div id="searchInputDiv">
        <div class="c-text__search">
            <a class="c-search__input c-search__fake-input" href="/search" onclick="route()">Szukaj</a>
            <button class="c-search__button"></button>
        </div>
    </div>
    <div id="categoryName" class="c-text__category-name"></div>
    <div id="titlesList" class="c-titles__list">
    </div>
</main>
