.c-categories__list {
    padding: 5px 17px;
    height: calc(100vh - 142px);
    background-color: var(--white);
    border-radius: 8px;
    font-size: 19px;
    overflow: scroll;
}

.is-categories__list {
    height: calc(100vh - 84px);
}
