.c-text__text-name {
    margin: 5px 0 10px 0;
    font-size: 17px;
    font-weight: 600;
}

.c-text-container {
    padding: 10px 17px;
    height: calc(100vh - 125px);
    background-color: var(--white);
    border-radius: 0 0 8px 8px;
    font-size: 19px;
    line-height: 1.1;
    overflow-y: scroll;
}

.is-text--no-category {
    height: calc(100vh - 88px);
    border-radius: 8px;
}

.c-text {
    margin: 8px 0;
    line-height: 1.2;
}
