.c-titles__list {
    padding: 5px 17px;
    height: calc(100vh - 183px);
    background-color: var(--white);
    border-radius: 0 0 8px 8px;
    font-size: 19px;
    overflow-y: scroll;
}

.is-titles__list {
    height: calc(100vh - 125px);
}

.c-text__category-name {
    padding: 7px 17px;
    height: 37px;
    border-radius: 8px 8px 0 0;
    font-size: 19px;
    font-weight: 500;
    color: var(--white);
    background-color: var(--blue-lagoon);
    overflow: scroll;
    white-space: nowrap;
}
