:root {
  --tangerine-yellow: #ffc808;
  --blue-lagoon: #076685;
  --bateau: #1b7290;
  --pottery-blue: #50a7c0;
  --black: #090909;
  --white: #ffffff;
  --gray: #5f5f5f;
  --light-gray: #dfdfdf;
  --font-size: 15px;
}
